#Title{
    margin-bottom: 15px;
}

.input-group{
    height: 50px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-bottom: 20px;
}